.result-card {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  border-radius: 16px;
}

.result-image-container {
  margin: 0 auto;
  width: 180px;
  height: 180px;
}

.result-image-container img {
  width: 100%;
}

.result-info-container {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.result-info-content {
  margin: auto 0;
}

.result-info-container h3 {
  color: #1890ff;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.result-info-inner {
  min-height: 45px;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  font-size: 22px;
  color: #737373;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.result-info-inner h4 {
  font-size: 0.7em;
  line-height: 24px;
}

.result-info-inner a {
  color: #0029ff;
}

.result-info-inner p {
  margin: 0;
  padding-left: 5px;
  font-size: 0.7em;
  line-height: 24px;
}

@media (min-width: 768px) {
  .result-card {
    flex-direction: row;
  }

  .result-image-container {
    min-width: 260px;
    min-height: 260px;
  }

  .result-info-container {
    margin-top: 0;
    margin-left: 20px;
  }

  .result-info-container h3 {
    font-size: 0.5em;
  }

  .result-info-inner {
    padding: 10px;
  }
}
